<%- include('header') -%> 
<h2>About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga delectus ad consectetur eveniet maxime earum, repellat, officiis ex hic, dolor voluptatum ea harum possimus. Possimus, tempora ab? Facere, ex maxime.</p>
<%- include('footer') -%> 
